/* ============================
   CREAR BD LIMPIA
   ============================ */

IF DB_ID('Work-Test') IS NOT NULL
BEGIN
    ALTER DATABASE [Work-Test] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [Work-Test];
END
GO

CREATE DATABASE [Work-Test];
GO

USE [Work-Test];
GO

/* ============================
   TABLAS
   ============================ */

CREATE TABLE Usuario(
    Id INT IDENTITY PRIMARY KEY,
    Email NVARCHAR(100) NOT NULL,
    Password NVARCHAR(255) NOT NULL,
    Rol NVARCHAR(20) NOT NULL,
    Nombre NVARCHAR(100)
);

CREATE TABLE Cliente(
    Id INT IDENTITY PRIMARY KEY,
    Nombre NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100),
    Telefono NVARCHAR(20)
);

CREATE TABLE Proveedor(
    Id INT IDENTITY PRIMARY KEY,
    Nombre NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100),
    Telefono NVARCHAR(20)
);

CREATE TABLE Producto(
    Id INT IDENTITY PRIMARY KEY,
    Nombre NVARCHAR(100) NOT NULL,
    Descripcion NVARCHAR(255),
    PrecioUnitario DECIMAL(10,2) NOT NULL,
    Stock INT NOT NULL DEFAULT 0,
    CONSTRAINT CK_Producto_Stock CHECK (Stock >= 0)
);

CREATE TABLE Compra(
    Id INT IDENTITY PRIMARY KEY,
    ProveedorId INT NOT NULL,
    Fecha DATETIME DEFAULT GETDATE(),
    UsuarioId INT
);

CREATE TABLE CompraDetalle(
    Id INT IDENTITY PRIMARY KEY,
    CompraId INT NOT NULL,
    ProductoId INT NOT NULL,
    Cantidad INT NOT NULL,
    PrecioCompra DECIMAL(10,2) NOT NULL
);

CREATE TABLE Venta(
    Id INT IDENTITY PRIMARY KEY,
    ClienteId INT NOT NULL,
    Fecha DATETIME DEFAULT GETDATE(),
    UsuarioId INT
);

CREATE TABLE VentaDetalle(
    Id INT IDENTITY PRIMARY KEY,
    VentaId INT NOT NULL,
    ProductoId INT NOT NULL,
    Cantidad INT NOT NULL,
    PrecioVenta DECIMAL(10,2) NOT NULL
);

/* ============================
   RELACIONES (SIN DUPLICADOS)
   ============================ */

ALTER TABLE Compra
ADD CONSTRAINT FK_Compra_Proveedor FOREIGN KEY (ProveedorId) REFERENCES Proveedor(Id),
    CONSTRAINT FK_Compra_Usuario FOREIGN KEY (UsuarioId) REFERENCES Usuario(Id);

ALTER TABLE CompraDetalle
ADD CONSTRAINT FK_CompraDetalle_Compra FOREIGN KEY (CompraId) REFERENCES Compra(Id) ON DELETE CASCADE,
    CONSTRAINT FK_CompraDetalle_Producto FOREIGN KEY (ProductoId) REFERENCES Producto(Id);

ALTER TABLE Venta
ADD CONSTRAINT FK_Venta_Cliente FOREIGN KEY (ClienteId) REFERENCES Cliente(Id),
    CONSTRAINT FK_Venta_Usuario FOREIGN KEY (UsuarioId) REFERENCES Usuario(Id);

ALTER TABLE VentaDetalle
ADD CONSTRAINT FK_VentaDetalle_Venta FOREIGN KEY (VentaId) REFERENCES Venta(Id),
    CONSTRAINT FK_VentaDetalle_Producto FOREIGN KEY (ProductoId) REFERENCES Producto(Id);

/* ============================
   DATOS
   ============================ */

INSERT INTO Usuario (Email, Password, Rol, Nombre) VALUES
('AdminCode@gmail.com','Test12345','Administrador','William Gonzalez'),
('gonzagerman924@gmail.com','Test123','Vendedor','German Gonzalez'),
('manuel@gmail.com','12345','Vendedor','Manuel Mejia'),
('Blanca@gmail.com','blanca123','Vendedor','Blanca Ester');

INSERT INTO Cliente (Nombre, Email, Telefono) VALUES
('Juan Pérez','juan.perez@email.com','555-2001'),
('María García','maria.garcia@email.com','555-2002'),
('Carlos Rodríguez','carlos.rod@email.com','555-2003');

INSERT INTO Proveedor (Nombre, Email, Telefono) VALUES
('Proveedor ABC','contacto@abc.com','555-1001'),
('Corporación Delta','admin@deltacorp.com','555-3008');

INSERT INTO Producto (Nombre, Descripcion, PrecioUnitario, Stock) VALUES
('Laptop Dell','Laptop i7 16GB',1200,8),
('PS3','Consola vieja',200,6),
('PS4','Consola',350,1);